<h1>Delete From Database</h1>

<div>
    <h2>Remove Device</h2>
    <p>
    Delete a database entry
    </p>
    <input type="text" placeholder="Asset Number" id="deleteInput">  
    <button id="delete-button">Delete</button>
  </div>


<script>
/*Delete Device - WORKING but need to edit and display message*/
  const deleteButton = document.querySelector('#delete-button')

deleteButton.addEventListener('click', _ => {

  const deleteEntry = document.getElementById('deleteInput');
  const deleteValue = deleteInput.value;

  fetch('/delete', {
    method: 'delete',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      assetTag: deleteValue,
    })
  })
    .then(res => {
      if (res.ok) return res.json()
    })
    .then(response => {
        if (response === 'No quote to delete') {
          messageDiv.textContent = 'No Darth Vader quote to delete'
        } 
        else {
          window.location.reload(true)
          }
      })
    .catch(console.error)
})
</script>