<!DOCTYPE html><html lang="en">
    <head>  <meta charset="UTF-8">  
    <title>TM470 - Device Records App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

<h1>Delete From Database</h1>

<div class="deleteContainer">
    <h2>Remove Device</h2>
    <input type="text" placeholder="Asset Number" id="deleteInput">  
    <button id="delete-button">Delete</button>
    </div>

  <button onclick="document.location='/deviceList.ejs'">Back to device list</button>
  
  <div id="messageDiv"></div>

<script>
/*Delete Device - WORKING*/
  const deleteButton = document.querySelector('#delete-button')

deleteButton.addEventListener('click', _ => {

  const deleteEntry = document.getElementById('deleteInput');
  const deleteValue = deleteInput.value;

  fetch('/delete', {
    method: 'delete',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      assetTag: deleteValue,
    })
  })
    .then(res => {
      if (res.ok) return res.json()
    })
    .then(response => {
        if (response === 'Nothing to delete') {
          messageDiv.textContent = 'Device does not exist in the database - nothing to delete';
        } 
        else {
          messageDiv.textContent = 'Device deleted';
          setTimeout(() => {  window.location.reload(true); }, 5000); //Page refreshes after 5 seconds
          }
      })
    .catch(console.error)
})
</script>