<!DOCTYPE html>
<html lang="en">
    <head>  <meta charset="UTF-8">  
        <link rel="stylesheet" href="/stylesheets/style.css">
    <title>TM470 - Device Records App</title></head>
   
        
    <body>   
        
        <h1>Device Records Database</h1>
        <div class="indexListContainer">
        <button onclick="document.location='/deviceList.ejs'">View devices</button>
        <button onclick="document.location='/logout'">Log Out</button>
        </div>    
    </body>


    
</html>