<!DOCTYPE html>
<html lang="en">
    <head>  <meta charset="UTF-8">  
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Welcome Home</title>
  </head>
  <body>
<!-- link to login page-->
    <h2>You have now signed out</h2>
    <button onclick="document.location='/'">Back to Login</button>
  </body>
</html>
