<!DOCTYPE html>
<html lang="en">
    <head>  <meta charset="UTF-8">  

  <title>Welcome Home</title>
  </head>
  <body>
<!-- link to login page-->

    <p>You have now signed out</p>
    <a href="/">Click here to sign in again</a>
  </body>
</html>
