<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Search Database</title>
</head>

<body>

<h1>Search Database</h1>

    <div class="searchContainer">
      <p>Search the database using the Asset Number</p>
      <input type="text" placeholder="Asset Number" id="searchInput">  
      <button id="search-button">Search</button>
      <button onclick="document.location='/deviceList.ejs'">Back to device list</button>
        
    </div>

    <div id="resultsContainer"> </div>

  
    
<script>

 /*Search the database and get results - WORKING*/
  
 const searchButton = document.querySelector('#search-button')

  searchButton.addEventListener('click', _ => {
    const searchInput = document.getElementById('searchInput');
    const searchValue = searchInput.value;

  fetch('/search', {
    method: 'post',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
    assetTag: searchValue,
    }),
  })
  .then(res => {
    if (res.ok) return res.json();
  })
  .then(response => {
    console.log(response);
    const resultsContainer = document.getElementById('resultsContainer');
    resultsContainer.innerHTML = '';

    if (response.length === 0) {
      resultsContainer.innerHTML = '<p>No results found.</p>';
    } else {
      resultsContainer.innerHTML = '<h3>Search results</h3>';
      response.forEach(device => {
        const deviceElement = document.createElement('div');
        deviceElement.classList.add('deviceElement');

        const assetTagElement = document.createElement('p');
        const nameElement = document.createElement('p');
        const organisationElement = document.createElement('p');
        const lineManagerElement = document.createElement('p');
        const dateRequiredElement = document.createElement('p');

        assetTagElement.textContent = "Asset Tag: " + device.assetTag;
        nameElement.textContent = "Name: " + device.name;
        organisationElement.textContent = "Organisation: " + device.organisation;
        lineManagerElement.textContent = "Line Manager: " + device.lineManager;
        dateRequiredElement.textContent = "Date Required: " + device.dateRequired;

        deviceElement.appendChild(assetTagElement);
        deviceElement.appendChild(nameElement);
        deviceElement.appendChild(organisationElement);
        deviceElement.appendChild(lineManagerElement);
        deviceElement.appendChild(dateRequiredElement);

        resultsContainer.appendChild(deviceElement);
      });
    }
  })
  .catch(error => console.error(error));
});

     </script>

</body>
</html>